@font-face {
  font-family: "Pincuk";
  src: url(assets/fonts/Pincuk.ttf);
}

html {
  -webkit-tap-highlight-color: transparent;
  scrollbar-width: none;
  user-select: none;
}

body {
  display: grid;
  place-items: center;
  color: #ffc0cb;
  font-family: "Pincuk", "Courier New";
}

#background {
  position: fixed;
  z-index: -1;
  filter: blur(3px);
  inset: -30px;
  background-color: #222;
}

#background > div {
  position: absolute;
  inset: 0;
  background: url(assets/fondo.gif) center/cover no-repeat;
}

.page {
  display: grid;
  place-items: center;
  height: 90dvh;
}

.card {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
  height: 200px;
  border-radius: 25px;
  backdrop-filter: blur(14px) brightness(0.5);
  transition: 0.2s;
  padding: 5px;
}

.card-image {
  margin-right: 19px;
  border-radius: 17px;
  transition: 0.2s;
}

.card-text {
  transition: 0.2s;
  font-size: 32px;
  width: 220px;
  padding-right: 10px;
}

.social-media {
  position: absolute;
  grid-column: 2;
  transition: 0.2s;
  opacity: 0;
}

.social {
  display: grid;
  grid-template-columns: 1% 99%;
  place-items: center;
  margin: 5px;
  transition: 0.2s;
  text-decoration: none;
  color: #ffc0cb;
}

.social > img {
  height: 30px;
  width: 30px;
  margin-left: 70px;
}

.social > span {
  margin: 7px;
  font-size: 23px;
  transition: 0.15s;
  margin-left: 15px;
}

.card:hover {
  padding: 50px;
}

.card:hover .card-text {
  opacity: 0;
}

.card:hover .social-media {
  opacity: 1;
}

.card:hover .card-image {
  transform: scale(1.2);
}

.social:hover {
  transform: scale(1.1);
  color: #fff;
}

@media screen and (max-width: 564px) {
  #background > div {
    background: url(assets/fondo-movil1.jpg) center/cover no-repeat;
  }

  .card {
    grid-template-rows: repeat(2, 1fr);
    height: 450px;
    width: 300px;
    padding: 0px;
  }

  .card-image {
    margin-right: -150px;
    margin-top: 15px;
    grid-row: 1;
  }

  .card-text {
    grid-row: 2;
    text-align: center;
    margin-right: -160px;
    margin-bottom: 40px;
  }

  .social-media {
    grid-row: 2;
    margin-left: -110px;
    margin-bottom: 20px;
  }

  .card:hover {
    transform: scale(1.05);
    place-items: center;
    padding: 0px;
    width: 300px;
    height: 530px;
  }

  .card:hover .card-icon {
    transform: scale(1.2);
    margin-left: 0px;
  }

  .social {
    width: 0px;
  }

  .social > img {
    margin-right: 230px;
    margin-bottom: -40px;
  }

  .social > span {
    grid-row: 2;
  }
}
